/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/StreamingAssets/aa/*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/AddressableAssetsData/*/*.json*
/[Aa]ssets/AddressableAssetsData/*/*.asset*
[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
.collabignore
crashlytics-build.properties
/[Aa]ssets/Plugins/Editor/JetBrains*
.plastic
